*.php
Nextwatt/application/helpers/assets_helper.php
Nextwatt/application/helpers/assets/javascript/bootstrap.js
Nextwatt/application/controllers/test.php
*.php
Nextwatt/application/helpers/assets/css/bootstrap.css
Nextwatt/nbproject/private/private.properties
Nextwatt/nbproject/private/private.properties
Nextwatt/application/helpers/assets/css/bootstrap.css
!/Nextwatt/application/views/B2E/Catalogue/Lier_Type_Produit.php
!/Nextwatt/application/views/B2E/Catalogue/Gerer_Liste_Types.php
!/Nextwatt/application/views/B2E/Catalogue/Charger_Catalogue.php
!/Nextwatt/application/views/B2E/Catalogue/Lier_Option.php
!/Nextwatt/application/views/B2E/Catalogue/Consulter_Catalogue.php
!/Nextwatt/application/views/B2E/Client/Accueil_Client.php
!/Nextwatt/application/views/B2E/Client/Consulter_Client.php
!/Nextwatt/application/views/B2E/Client/Add_Client.php
!/Nextwatt/application/views/B2E/Dossier_Archives/Consulter_Archive.php
!/Nextwatt/application/views/B2E/Dossier_Archives/Accueil_Dossier_Archive.php
!/Nextwatt/application/views/B2E/Dossier_Archives/Add_Dossier.php
!/Nextwatt/application/views/B2E/Dossier_Archives/Consulter_Dossier.php
!/Nextwatt/application/views/B2E/Dossier_Archives/Etudes/Rapport.php
!/Nextwatt/application/views/B2E/Dossier_Archives/Etudes/Imprimmer.php
!/Nextwatt/application/views/B2E/Dossier_Archives/Etudes/Etude_Add_PV2.php
!/Nextwatt/application/views/B2E/Dossier_Archives/Etudes/Projection.php
!/Nextwatt/application/views/B2E/Dossier_Archives/Devis/Add_Produit.php
!/Nextwatt/application/views/B2E/Dossier_Archives/Devis/Accueil_Devis.php
!/Nextwatt/application/views/B2E/Dossier_Archives/Devis/Descriptif_Article.php
!/Nextwatt/application/views/B2E/Dossier_Archives/Devis/Imprimmer_Produit.php
!/Nextwatt/application/views/B2E/Login.php
!/Nextwatt/application/views/B2E/Accueil.php
!/Nextwatt/application/views/B2E/User/Accueil_User.php
!/Nextwatt/application/views/B2E/User/Consulter_User.php
!/Nextwatt/application/views/B2E/User/Add_User.php
!/Nextwatt/application/views/B2E/Personnalisation/Modif_Personnalisation.php
!/Nextwatt/application/views/B2E/Personnalisation/Menu_Personnalisation.php