body {
    margin: 0;
    font-family: 'terminal dosis', sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.contenu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FDFDFD;
    z-index: 3;
}

.sidebar{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    background-color: #9FC345;
    padding: 0 30px;
    z-index: 2;
}

.sidebar-profil {
    margin-bottom: 50px;
    line-height: 1.9;
}

.sidebar-profil img {
    float: left;
}

.sidebar-profil strong {
    display: block;
    top : 0;
}

.sidebar-item {
    display: block;
    height: 103px;
    line-height: 103px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    border-top: 2px solid #3a3e46;

}
